<html lang="zh"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <title>找回密码</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/semantic-ui/css/semantic.min.css}" />
</head>
<body>
<div class="wrapper">
  <div class="container">
    <h1>Forget your password?</h1>
    <form  method="post" class="form">
      <input type="text" value="51103942@qq.com" id="email" placeholder="Account"/>
      <button type="button" id="find-password-button">Ok</button>
      <br>
      <br>
      <br>
      <a href="/learner.me/users/login">Login</a>
    </form>
  </div>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>

  </ul>
</div>
<script type="text/javascript" th:src="@{/semantic-ui/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript">
    $(function () {
        sessionStorage.removeItem("nav-index"); // 页面或窗口关闭后才失效，用户登出不失效
    });
    function findPassword() {
        var email=document.getElementById("email").value;
        //console.log(email);
        $.ajax({
            type: "POST",
            url: "/learner.me/users/findPassword",
            data: {
                email:email
            },
            dataType:"json",
            success:function (r) {
                console.log(r);
                alert(r.code)
            },
            error: function (err) {
            }
        });
    }
    $(function(){
        $("#find-password-button").click(function(){
            findPassword();
        });
    });
</script>
</body>
</html>