<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <title>欢迎登录</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/semantic-ui/css/semantic.min.css}" />
</head>
<body>
<div class="wrapper">
  <div class="container">
    <h1>Welcome</h1>
    <form  method="post" class="form">
      <input type="text" value="1234560" name="name" placeholder="Account"/>
      <input type="password" value="12345678" name="password" placeholder="Password"/>
      <button type="button" id="login-button">Login</button>
      <br>
      <br>
      <br>
      <a href="/learner.me/users/forgotPassword">Forget Password</a>
    </form>
  </div>
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<script type="text/javascript" th:src="@{/semantic-ui/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript">
    $(function () {
        sessionStorage.removeItem("nav-index"); // 页面或窗口关闭后才失效，用户登出不失效
    });
    function doLogin() {
        $.post("/learner.me/api/users/", $(".form").serialize(),function(data){
                if (data.code == 0) {
                    location.href = "http://localhost:1000/learner.me/";
                } else {
                    alert("登录失败，原因是：" + data.msg);
                }
        });
    }
    $(function(){
        $("#login-button").click(function(){
            doLogin();
        });
    });
</script>
</body>
</html>