<div th:fragment="pointingMenu" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui inverted vertical  masthead center aligned segment">
        <div class="ui  container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item">Learner</a>
                <a class="item">课程</a>
                <a class="item">分类</a>
                <a class="item">职业路径</a>
                <div class="right item">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
                <a class="ui item">
                   Log in
                </a>
                <a class="ui item">
                   Sign Up
                </a>
            </div>
        </div>
        <div class="ui text container">
            <h1 class="ui inverted header">
                Learner is Ok
            </h1>
            <h2>Do whatever you want when you want to.</h2>
            <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
        </div>

    </div>
</div>